.banner {
	background-image: url(../../image/bannerdojo.jpeg);
	color: white ;
	padding: 150px 0px;
	background-size: cover ;
	background-position:center,top ;
	height: 100px;


	


}

.banner h1 {
	font-size: 50px ;
}

.banner h2 {
	font-size: 30px ;
	font-weight: lighter;
}